.hot-goods {
  overflow: hidden
}

.hot-goods ul {
  position: relative;
  padding: 0 6px;
  zoom: 1;
  margin-bottom: 60px;
}

.hot-goods ul:after {
  content: "";
  display: table;
  clear: both
}

.hot-goods li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 6px
}

.hot-goods li:nth-child(odd) {
  padding-right: 3px
}

.hot-goods li:nth-child(2n) {
  padding-left: 3px
}

.hot-goods li .goods-item .thumb {
  margin-bottom: 10px;
  background-color: #fff
}

.hot-goods li .goods-item .detail {
  padding: 0 8px 1px
}

.hot-goods li .goods-item .title {
  color: #666;
  padding-bottom: 0;
  line-height: 16px;
  height: 32px;
  margin-bottom: 10px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}