.bottom-nav {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  background-color: #fff;
  z-index: 8;
  -o-border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-image: url(https://b.yzcdn.cn/v2/image/wap/border-line-2.png) 2 stretch;
  border-top: 2px solid #e5e5e5
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
  .bottom-nav {
    border-top-width: 1px
  }
}

.bottom-nav ul {
  position: relative;
  height: 100%;
  zoom: 1
}

.bottom-nav ul:after {
  content: "";
  display: table;
  clear: both
}

.bottom-nav li {
  display: block;
  float: left;
  width: 25%;
  height: 100%
}
